@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eff6ff;
    padding: 25px !important;
}

/* form styles */
.form-label{
    text-align: left !important;
}
h1{
  font-weight: bold !important;
}
.btn-submit{
    width: 150px;
    height: 45px;
    background-color: #2763e9;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 25px;
    font-weight: bold;
}
/* user styles */
.user_card{
    border:  1px solid #eff6ff !important;
    border-radius: 5px;
    margin-top: 10px !important;
    
}
.user_card img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 55px !important;
    align-self: center !important;

}
.edit_button{
    background-color: #2763e9; /* Green */
    border: none;
    color: white;
    padding: 8px 25px;
    align-self: flex-end;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    border-radius: 25px;
}
/* side buttons styles */
.sidebar {
    margin: 0;
    padding: 0;
    width: 100% auto;
    background-color: #fff;
    height: 100vh;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #2763e9;
    color: white;
    font-weight: 600;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #c0dbfd;
    color: white;
    transition-delay: ease-in-out 0.5s;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  